html, body{
    font-size:12pt !important;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-print-color-adjust:exact;
    color-adjust:exact;
}  
    
* {color:#000 !important; } 

#legal{
    min-width: 815,99999px !important;
    max-width: 816,00000px !important;
}
.encabezado{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 0; /* Posicionamos la cabecera pegada arriba */
	position: fixed; /* Hacemos que la cabecera tenga una posición fija */
}

.contenido{
  min-height: 80vh;
}
.membreteL{
    position: relative;
    width: calc(100% - 120px) !important;
    text-align: center;
}
.logo1{
    position: relative;
    width: 120px !important;
}
.foto{
  margin-top: 10px;
}
table.Table1 {
    min-width: 100% !important;
    text-align: center;
    border-collapse: collapse;
    min-height: 80vh;
  }
  table.Table1 td, table.Table1 th {
    border: 1px solid #000000;
  }
  table.Table1 tbody td {
    font-size: 9pt;
    color: #000000;
    word-wrap: break-word;
  }
  td 
  table.Table1 thead, .thead {
    background: #D8D8D8 !important;
  }
  table.Table1 thead th, .thead {
    font-size: 9pt;
    text-transform: uppercase;
    font-weight: normal;
    color: #000000;
    border-left: 1px solid #000000;
  }
  .upper{
      text-transform: uppercase;
  }
  .text-left{
      text-align: left;
}
  .my-1{
    margin: 0.3rem 0 0.3rem 0 !important;
}
  .flex-firma{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: center;
  }
 .flex-footer{
    margin-top: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-end;
    align-content: flex-end;
}

#print {
  display: none;
}

#noprint {
  display: block;
}


@media print {
  /* invert the display (show/hide) properties of the main */
  /* aplication component and the printing component       */
  
  #noprint > * { display: none; }
  
  #print {
    display: block;
  }

  .foto{
    height: 200px;
    width: auto;
  }

  #legal{
    min-width: 815,99999px !important;
    max-width: 816,00000px !important;
}

.encabezado{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.membreteL{
    position: relative;
    width: calc(100% - 120px) !important;
    text-align: center;
}
.logo1{
    position: relative;
    width: 120px !important;
}
table.Table1 {
    min-width: 100% !important;
    text-align: center;
    border-collapse: collapse;
  }
  table.Table1 td, table.Table1 th {
    border: 1px solid #000000;
  }
  table.Table1 tbody td {
    font-size: 9pt;
    color: #000000;
    word-wrap: break-word;
  }
  td 
  table.Table1 thead, .thead {
    background: #D8D8D8 !important;
  }
  table.Table1 thead th, .thead {
    font-size: 9pt;
    text-transform: uppercase;
    font-weight: normal;
    color: #000000;
    border-left: 1px solid #000000;
  }
  .upper{
      text-transform: uppercase;
  }
  .text-left{
      text-align: left;
}
  .my-1{
    margin: 0.3rem 0 0.3rem 0 !important;
}
  .flex-firma{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: center;
  }
 .flex-footer{
    margin-top: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-end;
    align-content: flex-end;
}


}
