<ion-content>
  <div class="container m-0 p-0">
    <div class="m-0 p-0">
      <ion-item color="primary">
        <ion-label>Crear CMC</ion-label>
      </ion-item>
    </div>
    <div class="p-3">     
      <form [formGroup]="form" class="mb-4" (ngSubmit)="crear()">
        <div class="form-group">
          <label for="exampleFormControlSelect1">Seleccione el Instrumento</label>
          <select class="form-control" id="exampleFormControlSelect1" formControlName="instrumento">
            <option *ngFor="let item of items" [value]="item._id">{{item.patron}}--{{item.codigo}}</option>
          </select>
        </div>
        <div class="form-group">
          <label>Valor del Error Minimo</label>
          <input type="number" class="form-control" formControlName="error" aria-describedby="">
          <small class="form-text text-muted">Error</small>
        </div>   
        <button type="submit" class="btn btn-success" [disabled]="!form.valid">Crear</button>
      </form>


    </div>
  </div>

</ion-content>