<ion-content>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 m-0 p-0">
        <ion-toolbar color="dark">
          <ion-title>Resumen de la Orden</ion-title>
        </ion-toolbar>
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-4 p-2">
              <p class="p-0 m-0">Orden No: {{orden.orden}}</p>
              <p class="p-0 m-0">Cliente: {{orden.cliente?.nombre}}</p>
              <p class="p-0 m-0">{{orden.cliente?.identificacion}}: {{orden.cliente?.numero}}</p>
              <p class="p-0 m-0">Email: {{orden.cliente?.email}}</p>
              <p class="p-0 m-0">Telefono: {{orden.cliente?.telefono}}</p>             
              <p class="p-0 m-0">Creada: {{orden.fecha | date}}</p>
            </div>         
            <div class="col-sm-4 p-2">
              <p class="p-0 m-0"> Norma: {{orden.norma}} </p>
              <p class="p-0 m-0">Q1: {{orden.q1 | number}}</p>
              <p class="p-0 m-0">Q2: {{orden.q2 | number}}</p>
              <p class="p-0 m-0">Q3: {{orden.q3 | number}}</p>
              <p class="p-0 m-0">Q4: {{orden.q4 | number}}</p>
              <p class="p-0 m-0">Diametro: {{orden.diametro | number}}</p>
              <p class="p-0 m-0">Precision: {{orden.precision}}</p>
              <p class="p-0 m-0">Presion Max Permisible: {{orden.pmaxp | number}}</p>
              <p class="p-0 m-0">Clase de Temperatura: {{orden.clasetemp}}</p>
              <p class="p-0 m-0">Perdida de Presion: {{orden.pperdida}}</p>
              <p class="p-0 m-0">Rango: {{orden.rango}}</p>
            </div>
            <div class="col-sm-4 p-2">
              <p class="p-0 m-0"> Sensibilidad Aguas Abajo: {{orden.aguasabajo}} </p>
              <p class="p-0 m-0">Sensibilidad Aguas Arriba: {{orden.aguasarriba}}</p>
              <p class="p-0 m-0">Tipo: {{orden.tipo}}</p>
              <p class="p-0 m-0">Principio Fisico: {{orden.principio}}</p>
              <p class="p-0 m-0">Posicion: {{orden.posicion}}</p>
              <p class="p-0 m-0">Escala: {{orden.escala | number}}</p>
            </div>     
          </div>
        </div>
        <ion-toolbar color="dark">
          <ion-title>Medidores Asociados</ion-title>
        </ion-toolbar>
        <div>
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Numero de Serie</th>
                <th scope="col">Año de Fabricacion</th>
                <th scope="col">Marca Comercial</th>
                <th scope="col">Modelo</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of medidores">
                <th scope="row">{{item.serie}}</th>
                <td>{{item.fabricacion}}</td>
                <td>{{item.marca}}</td>
                <td>{{item.modelo}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-sm-12 m-0 p-0">
        <ion-toolbar color="dark" class="pr-3 pl-3">
          <ion-button (click)="continue()" expand="block" color="danger" slot="start">
            Cancelar
          </ion-button>
          <ion-button (click)="continue()" expand="block" color="success" slot="end">
            Siguiente
          </ion-button>
        </ion-toolbar>
      </div>

    </div>

  </div>
</ion-content>