<ion-content>
  <div class="container-fluid m-0 p-0">
    <ion-toolbar color="dark">
      <ion-title>Crear una Nueva Orden de Trabajo</ion-title>
    </ion-toolbar>

    <form action="" [formGroup]="form">
      <div class="container-fluid">
        <div class="row">      
          <div class="col-sm-6" style="border:1px solid var(--ion-item-border-color,var(--ion-border-color,var(--ion-color-step-150,rgba(0,0,0,0.13))))">
            <div class="row p-1 ">
              <label class="col-sm-6 ml-3 p-1">Consecutivo</label>
              <div class="col-sm-3">
                <input type="number" formControlName="orden" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" disabled>
              </div>
            </div>
            
          </div>
          <div class="col-sm-6">
            <ion-item>
              <ion-label>Encargado</ion-label>
              <ion-select placeholder="Seleccione Una" formControlName="encargado">
                <ion-select-option *ngFor="let u of usuarios" [value]="u._id">{{u.nombre}}  {{u.apellido}}</ion-select-option>                
              </ion-select>
            </ion-item>
          </div>
          <div class="col-sm-6">
            <ion-item>
              <ion-label>Tipo de Ensayo</ion-label>
              <ion-select placeholder="Seleccione Una" formControlName="ensayo">
                <ion-select-option value="1">Calibracion</ion-select-option>
                <ion-select-option value="2">Perdida de Carga</ion-select-option>
                <ion-select-option value="3">Presion Hidroestatica</ion-select-option>
              </ion-select>
            </ion-item>
          </div>
          <div class="col-sm-6">
            <ion-item>
              <ion-label>Banco de Calibracion</ion-label>
              <ion-select placeholder="Seleccione Una" formControlName="banco">
                <ion-select-option *ngFor="let b of bancos" [value]="b._id">{{b.identificacion}}</ion-select-option>
              </ion-select>
            </ion-item>
          </div>
          <div class="col-sm-4">
            <ion-item>
              <ion-label>Fecha de Programacion</ion-label>
              <ion-datetime displayFormat="MMM DD, YYYY" picker-format="MMM DD, YYYY" placeholder="Select Date"
                formControlName="fecha_programacion"></ion-datetime>
            </ion-item>
          </div>
          <div class="col-sm-4">
            <ion-item>
              <ion-label>Hora de Programacion</ion-label>
              <ion-datetime displayFormat="HH:mm" picker-format="h:mm A" placeholder="Seleccione"
                formControlName="hora_programacion">
              </ion-datetime>
            </ion-item>
          </div>
          <div class="col-sm-4">
            <ion-item>
              <ion-label>Duracion estimada</ion-label>
              <ion-input type="number" required formControlName="duracion"></ion-input>
            </ion-item>
          </div>
        </div>
        <div class="row">
          <ion-toolbar color="dark">
            <ion-title>Parametros de Calibracion</ion-title>
          </ion-toolbar>
          <ion-toolbar>
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-4">
                  <ion-item>
                    <ion-label>1.Norma de Referencia</ion-label>
                    <ion-select placeholder="Seleccione Una">
                      <ion-select-option value="f">{{datos.norma}}</ion-select-option>
                    </ion-select>
                  </ion-item>
                </div>
                <div class="col-sm-4">
                  <ion-item>
                    <label class="col-sm-6 mt-2 ml-0 p-0">2.Diametro Nominal [mm]</label>
                    <div class="col-sm-6 mt-1">
                      <input type="number" class="form-control" id="exampleInputEmail1" [value]="datos.diametro"
                        aria-describedby="emailHelp">
                    </div>
                  </ion-item>
                </div>
                <div class="col-sm-4">
                  <ion-item>
                    <ion-label>3.Clase Metrologica de Precision</ion-label>
                    <ion-select placeholder="Seleccione Una">
                      <ion-select-option [value]="datos.precision">{{datos.precision}}</ion-select-option>
                    </ion-select>
                  </ion-item>
                </div>
                <div class="col-sm-4">
                  <ion-item>
                    <ion-label>Caudal permanente [m3/h]</ion-label>
                    <ion-select placeholder="Seleccione Una">
                      <ion-select-option [value]="datos.q3">{{datos.q3}}</ion-select-option>
                    </ion-select>
                  </ion-item>
                </div>
                <div class="col-sm-4">
                  <ion-item>
                    <ion-label>Rango de Medicion Q3/Q1</ion-label>
                    <ion-select placeholder="Seleccione Una">
                      <ion-select-option [value]="q3q1">{{q3q1}}</ion-select-option>
                    </ion-select>
                  </ion-item>
                </div>         
                <div class="col-sm-4">
                  <ion-item>
                    <ion-label>7.Q2/Q1</ion-label>
                    <ion-select placeholder="Seleccione Una">
                      <ion-select-option [value]="q2q1">{{q2q1}}</ion-select-option>
                    </ion-select>
                  </ion-item>
                </div>
              </div>
            </div>
          </ion-toolbar>
          <ion-toolbar color="dark">
            <ion-title>Informacion Adicional</ion-title>
          </ion-toolbar>

          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group row">
                  <div class="col-sm-12">
                    <div class="form-group row">
                      <label class="col-sm-6">Numero de observaciones por medidor en cada prueba</label>
                      <div class="col-sm-6">
                        <input type="number" formControlName="repeticiones" class="form-control"
                          aria-describedby="emailHelp">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group row">
                  <div class="col-sm-12">
                    <div class="form-group row">
                      <label class="col-sm-6">Coeficiente de expansion termico-volumetrico del material del RVM</label>
                      <div class="col-sm-6">
                        <input type="number" class="form-control" formControlName="coef_rvm"
                          aria-describedby="emailHelp">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group row">
                  <div class="col-sm-12">
                    <div class="form-group row">
                      <label class="col-sm-6 ">Coeficiente de expansion termico-volumetrico del agua </label>
                      <div class="col-sm-6">
                        <input type="number" class="form-control" formControlName="coef_agua"
                          aria-describedby="emailHelp">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group row">
                  <div class="col-sm-12">
                    <div class="form-group row">
                      <label class="col-sm-6">Compresibilidad del agua (kPa-1)</label>
                      <div class="col-sm-6">
                        <input type="number" class="form-control" formControlName="compre_agua"
                          aria-describedby="emailHelp">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group row">
                  <div class="col-sm-12">
                    <div class="form-group row">
                      <label class="col-sm-6">Incertidumbre de Coeficiente de expansion termico-volumetrico del material
                        RVM</label>
                      <div class="col-sm-6">
                        <input type="number" class="form-control" formControlName="incertidumbre_rvm"
                          aria-describedby="emailHelp">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group row">
                  <div class="col-sm-12">
                    <div class="form-group row">
                      <label class="col-sm-6">Incertidumbre de Coeficiente de expansion termico-volumetrico del agua
                        (C)</label>
                      <div class="col-sm-6">
                        <input type="number" class="form-control" formControlName="incertidumbre_agua"
                          aria-describedby="emailHelp">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group row">
                  <div class="col-sm-12">
                    <div class="form-group row">
                      <label class="col-sm-6">Incertidumbre de compresibilidad del agua (KPa) Numero de observaciones
                        por medidor en cada prueba</label>
                      <div class="col-sm-6">
                        <input type="number" class="form-control" formControlName="incertidumbre_compre_agua"
                          aria-describedby="emailHelp">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="row mb-5">
              <div class="col-sm-12">
                <ion-item button color="primary" text-center (click)="save()" [disabled]="!form.valid">
                  <ion-label>Guardar</ion-label>
                </ion-item>
              </div>
            </div>

          </div>






        </div>

      </div>
    </form>
  </div>

</ion-content>