.container{
    font-size: 12px;
}
body{
    font-size: 10px !important;
}

Ion-title{
    Font-size:14px;

    List-title{
        Font-size:14px;
    }
}

Ion-item{
    font-size: 12px !important;
}