<ion-header>
  <app-menu></app-menu>
</ion-header>
<ion-content>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 mt-2">
        <ion-item color="dark">
          <ion-label>Lista de Bancos de Ensayos</ion-label>
        </ion-item>
      </div>
      <div class="col-sm-12">
        <table class="table">
          <thead>
            <tr class="text-center">
              <th scope="col">#</th>
              <th scope="col">Indentificacion</th>
              <th scope="col">Tipo</th>
              <th scope="col">Descripcion</th>
              <th scope="col">Estado</th>
              <th scope="col">Gestionar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of bancos" class="text-center">
              <th scope="row">{{item.numero}}</th>
              <td>{{item.identificacion}}</td>
              <td>{{item.tipo}}</td>
              <td>{{item.descripcion}}</td>
              <td *ngIf="item.status==true">ACTIVO</td>
              <td *ngIf="item.status==false">INACTIVO</td>
              <td>
                <ion-button (click)="go(item)" size="small" color="primary">
                  <ion-icon slot="icon-only" name="share-alt"></ion-icon>
                </ion-button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ion-content>