@media print {
    /* invert the display (show/hide) properties of the main */
    /* aplication component and the printing component       */
  
    #print {
      display: block;
    }
  
    #noprint {
      display: none;
    }

    app-menu {
        display: none;
      }


  }
