<ion-toolbar color="primary" id="noprint">
  <ion-buttons slot="start" class="box menu">
    <ion-img src="/assets/images/logo_servaf.svg" class="logo"></ion-img>
    <ion-button *ngFor="let item of menu" (click)="nav(item.link)" >
      {{item.pagina}}
    </ion-button>
    <!-- <ion-button href="https://manual.plantaceibas.cf/" target="_blank" >
      manual
    </ion-button> -->
  </ion-buttons>
  <ion-buttons slot="start" class="box toogle">
    <ion-img src="/assets/images/logo_servaf.svg"  class="logo"></ion-img>
  </ion-buttons>
  <ion-buttons slot="end" class="box toogle">
    <ion-button (click)="menutoogle()">
      <ion-icon slot="start" name="menu" size="large"></ion-icon>
    </ion-button>
  </ion-buttons>

  <ion-item slot="end" class="pr-2 menu" (click)="popmenu( $event )" *ngIf="login" >   
    <ion-label color="light">{{usuario.nombre}} {{usuario.apellido}}</ion-label>
  </ion-item>
</ion-toolbar>